@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
 }

 body{
    font-family: 'Roboto', sans-serif;
 }


 h1{
    text-align: center;
 }

.lista-container{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.contato-item{
    border:1px solid rgb(0, 255, 106);
}