@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
 }

 body{
    font-family: 'Roboto', sans-serif;
 }


 h1{
    text-align: center;
 }


.header-options{
    border: 1px solid red;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}


.header-options form div{
  border: 1px solid #EEEEEE;
  display: flex;
  align-items: center;
  gap: 0px 18px;
  border-radius: 50px;
  cursor: pointer;
}

.header-options form div input{
    width: 100%;
  border-radius: 50px;
  padding: 5px 27px;
  cursor: pointer;
}


.lista-container{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5px 0px;
    padding: 10px;
}

.contato-item{
    
    display: flex;
    align-items: center;
    gap: 0px 18px;
    background: #EEEEEE;
    border-radius: 50px;
    padding: 5px 27px;
    cursor: pointer;
}

.contato-item:hover{
    background: #d8d8d8;
}

.img-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #bdbdbd;
}